.MusicPlayercontainer{
    border: 2px solid black;
    padding:11px;
    background-color: #fff;
    position: absolute;
    top: 10;
    width: 100%;
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
